@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
}

.masthead {
	background: transparent url("../img/masthead-bg.png") repeat left center;
    text-align: center;
}

.title {
    background-color: #e7e5d9;
    display: inline-block;
    margin-bottom: 0;
    text-shadow: 2px 2px 0 #c2c2c2;
}

.star-x {
background-image: url("../img/star.svg"), url("../img/star.svg");
background-position: calc(100% - 10px) center, 10px center;
background-repeat: no-repeat;
background-size: 45px 45px, 45px 45px;
padding: 0 4rem;
}

.background-beige {
	background-color: #e7e5d9;
}

.brown-box {
    background-color: #87714f;
    padding: 20px;
    color: white;
}

.hat-cuffs {
    background-image: url(../img/hat.svg), url(../img/cuffs.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 90px 90px, 50px 50px;
}

.img-flex {
    display: block;
    width: 100%;
}

.panel {
    border-image: url(../img/border.png) 36 36 36 36 stretch stretch;
    border-width: 36px 36px 36px 36px;
}

@media only screen and (min-width: 60em) {

}
	
@media only screen and (min-width: 90em) {

}
	
@media only screen and (min-width: 120em) {

}
