@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.masthead {
	background: transparent url("../img/masthead-bg.png") repeat left center;
    text-align: center;
}

.title {
    background-color: #e7e5d9;
    display: inline-block;
    margin-bottom: 0;
}

.star-x {
background-image: url("../img/star.svg"), url("../img/star.svg");
background-position: calc(100% - 10px) center, 10px center;
background-repeat: no-repeat;
background-size: 45px 45px, 45px 45px;
padding: 0 4rem;
}

.star-r {
    background-image: url("../img/star.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px 20px 20px 20px;
}

.star-l {
    background-image: url("../img/star.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px 20px 20px 20px;
}  

.background-beige {
	background-color: #e7e5d9;
}

.brown-box {
    background-color: #87714f;
    padding: 20px;
    color: white;
}

.hat {
    background-image: url(../img/hat.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: top;
    background-size: 80px 80px;
}

.cuffs {
    background-image: url(../img/cuffs.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: bottom;
    background-size: 50px 50px;   
}

.img-flex {
    display: block;
    width: 100%;
}

.panel {
    border-image: url(../img/border.png) 24 24 24 24 stretch stretch;
    border-width: 80px 80px 80px 80px;
}